[submodule "deps/plog"]
	path = deps/plog
	url = https://gitee.com/mlw2019/plog.git
[submodule "usrsctp"]
	path = deps/usrsctp
	url = https://gitee.com/mlw2019/usrsctp.git
[submodule "deps/libjuice"]
	path = deps/libjuice
	url = https://gitee.com/mlw2019/libjuice
[submodule "deps/json"]
	path = deps/json
	url = https://gitee.com/mlw2019/json.git
[submodule "deps/libsrtp"]
	path = deps/libsrtp
	url = https://gitee.com/mlw2019/libsrtp.git
